apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
    env: sandbox
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
        env: sandbox
    spec:
      containers:
      - name: nginx
        image: nginx:latest
        ports:
        - containerPort: 80
